<h4>Agregar personajes</h4>2
<form class="row" (ngSubmit)="emitCharacter()"> <!--  -->
  <!--! ngModel -->
  <input type="text"
  [(ngModel)]="character.name"
  name="name"
  class="form-control mg-2"
  placeholder="Nombre"> <!-- IMPORT FormsModule -->

  <input type="number"
  [(ngModel)]="character.power"
  name="power"
  class="form-control mg-2 "
  placeholder="Poder">
  <button type="submit" class="btn btn-primary"  >Agregar</button>

  <!-- Al escribir y darle a enter re refresca la pagina, eso se puede evitar -->

</form>



<!--?------NOTAS------->
<!-- <pre>{{ character | json}}</pre> -->
<!-- lo de arriba es un PIPE, nos enseña el json de character -->
<!--todo @Output(): Emitir eventos al padre-->
